/* Entire page style */
body {
	font-family: Montserrat;
}

/* Input-based style - font only */
input {
	font-family: Montserrat;
}

a, a:visited {
	color:blue;
	text-decoration: none;
}

/* SaleProject title style */
.title {
	text-align: center;
	color: #880C17;
	font-size: 60px;
	margin-top: -50px;
}

/* Hi, user style */
.user_greet {
	text-align: right;
	margin-right: 15%;
}

/* Hi, user logout button style */
.user_greet a {
	text-decoration: none;
	color: #880C17;
}

/* Navigation bar style */
.navigation_bar ul {
	list-style-type: none;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
.navigation_bar li {
	display: table-cell;
	text-align: center;
	border: solid 2px;
}
.navigation_bar li a {
	display: block;
	color: black;
	padding: 6px;
	text-decoration: none;
}
.navigation_bar .active {
	background-color: #4887E4;
	color: white;
}

/* Sub-menu header style - Catalog, Your Product, Add Product, Sales, Purchases, Confirm */
.submenu_header {
	margin-left: 15%;
	font-size: 45px;
}
.submenu_header hr {
	margin-left: 0%;
	width: 82%;
}

/* Search bar style - used in Catalog */
.search_bar {
	margin-left: 15%;
}
.search_bar input[type=text] {
	width: 75%;
	padding: 10px 10px;
	box-sizing: border-box;
	background-color: #F3F3F3;
	border: none;
}
.search_bar input[type=submit] {
	width: 60px;
	height: 35px;
	margin-left: 20px;
	background-color: #4887E4;
	color: white;
	font-size: 15px;
	border: none;
}

/* Catalog style */
.catalog_item {
	margin-left: 15%;
}
.catalog_item hr {
	margin-left: 0%;
	width: 82%;
}
.catalog_item img {
	float: left;
}
.catalog_item .owner {
	font-weight: bold;
}
.catalog_item .name {
	font-size: 20px;
	font-weight: bold;
	margin-left: 100px;
}
.catalog_item .price {
	margin-left: 100px;
	font-size: 25px;
}
.catalog_item .detail {
	word-wrap: break-word;
	width: 600px;
	font-size: 13px;
	margin-left: 100px;
	text-align: justify;
}
.catalog_item .count {
	float: right;
	margin-right: 20%;
}
.catalog_item .buybutton {
	float: right;
	margin-right: 19%;
	font-size: 20px;
}
.catalog_item .likebutton {
	float: right;
	margin-right: 50px;
	font-size: 20px;
	color: #4887E4;
}

.clearfix {
	clear: both;
}

/* Confirmation purchase style - used in Confirmation Purchase */
.confirmation_purchase {
	margin-left: 15%;
	line-height: 200%;
}
.confirmation_purchase input[type=text] {
	width: 50px;
}
.confirmation_purchase_form {
	margin-left: 15%;
}
.confirmation_purchase_form input[type=text] {
	width: 82%;
	padding: 10px 10px;
	box-sizing: border-box;
}
.confirmation_purchase_form input[type=submit] {
	float: right;
	width: 120px;
	height: 30px;
	margin-right: 18%;
	background-color: #4887E4;
	color: white;
	border: none;
}
.confirmation_purchase_form textarea {
	resize: none; 
	font-family: Montserrat;
	font-size: 13px;
}

/* Product style */
.product {
	margin-left: 15%;
}
.product input[type=text] {
	width: 82%;
	padding: 10px 10px;
	box-sizing: border-box;
}
.product input[type=submit] {
	float: right;
	width: 120px;
	height: 30px;
	margin-right: 18%;
	background-color: #4887E4;
	color: white;
	border: none;
}

.product textarea {
	resize: none; 
	font-family: Montserrat;
}

/* yourproduct style */
.product_image {
	float: left;
}

.product_image img {
	width:110px;
	height:110px;
	margin-right:25px;
	border:1px solid gray;
}

.yourprod_details {
	float:left; 
	width:40%;
}

.yourprod_details .harga {
	font-size:16px; 
	text-align: justify; 
	margin-right:35px;
}

.yourprod_details .desc {
	font-size:13px; 
	text-align: justify; 
	margin-right:35px;
}

.yourprod_likeandpurch {
	float:left; 
	width:40%; 
	margin-left: 60px;
	font-size: 13px;
}

.yourprod_button {
	float:left; 
	width:15%;
	font-size: 18px;
}

.yourprod_clear {
	clear: left;
}

/* Login-register style */
.errorregister {
	margin-left: 15%;
	line-height: 200%;
}

.loginregister {
	margin-left: 15%;
	line-height: 200%;
}
.loginregister input[type=text] {
	width: 82%;
	padding: 10px 10px;
	box-sizing: border-box;
}
.loginregister input[type=password] {
	width: 82%;
	padding: 10px 10px;
	box-sizing: border-box;
}
.loginregister input[type=submit] {
	float: right;
	width: 100px;
	height: 35px;
	margin-right: 18%;
	background-color: #4887E4;
	color: white;
	border: none;
	margin-top: 30px;
	font-size: 15px;
}
.loginregister textarea {
	resize: none; 
	font-family: Montserrat;
}
.regfirst {
	margin-left: 15%;
	margin-top: 5%;
}